html {
	background-color: #222222;
	color: #ffffff;
}

textarea {
    resize: none;
    padding: 5px;
    background-color: #111111;
    color: #dddddd;
}

a {
	color: #aaaaff;
	text-decoration-style: solid;
}