html {
	background-color: #222222;
	color: #ffffff;
}

textarea {
    resize: none;
    padding: 5px;
    background-color: #111111;
    color: #dddddd;
}

button {
    background-color: #111111;
    border: none;
    color: #ffffff;
    height: 32px;
    width: 32px;
}  

a {
	color: #aaaaff;
	text-decoration-style: solid;
}

.play {
    color: #aaddaa;
    font-size: medium;
}

.floppy {
    color: #aaaadd;
    font-size: large;
}

